.*
!.gitignore
*.pth
*.pt
*.csv
*.json
*.gz
*.out
**/models/
**/__pycache__/
**/wandb/
**/.idea/
**/logs/
**/results/
**/fairseq/
**/best_model/
**/prediction/
**/adaptive/
**/.ipynb_checkpoints/
**/outputs/
**/runs/
**/hg_dataset/
**/train_with_no_answer/
**/DataAug/